<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="estoque.My.MySettings.cadastroConnectionString" connectionString="user id=root;persistsecurityinfo=True;server=127.0.0.1;database=cadastro"
            providerName="MySql.Data.MySqlClient" />
        <add name="estoque.My.MySettings.cadastroConnectionString1" connectionString="server=127.0.0.1;user id=root;database=cadastro"
            providerName="MySql.Data.MySqlClient" />
        <add name="estoque.My.MySettings.cadastroConnectionString2" connectionString="server=127.0.0.1;user id=root;password=97873638hsn;persistsecurityinfo=True;database=cadastro"
            providerName="MySql.Data.MySqlClient" />
        <add name="estoque.My.MySettings.cadastroConnectionString3" connectionString="server=127.0.0.1;user id=root;password=97873638hsn;database=cadastro"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>